#portfolio-section{
    height: auto;
}
.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 80%;
    padding: 3%
}
.portfolio-container > h2{
    padding: 5%;
    font-size: 3vw;
}

.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 50px;
    justify-content: space-around;
    grid-gap: 3%;
}

.portfolio-grid > article img{
    width: 100%;

}

#a2{
    grid-row:span 2;
    align-self: end;
}


